<!-- Signup form -->
<signup-form></signup-form>
<!-- new course form -->
<!-- <new-course-form></new-course-form> -->

<!-- Contact form -->
<!-- <contact-form></contact-form> -->

<!-- Zippy Assingment of Directive section-->
<!-- <zippy title="Shipping Details">
    Shipping Details content
</zippy> -->
<!-- Custom Directive -->
<!-- <input type="text" [appInputFormat] = "'uppercase'"> -->

<!-- <input type="text" appInputFormat [format] = "'uppercase'"> -->

<!-- safe traversal operator -->
<!-- <span>{{task.assignee?.name}}</span> -->

<!-- <favorite></favorite> -->
<!-- ngFor and Trackby-->
<!-- <button (click) = "loadCourses()">loadbuttton</button>
<ul>
    <li *ngFor="let course of courses; trackBy: trackCourse">
        {{course.name}}
       
    </li>
</ul>  -->

<!-- ngfor example -->
<!-- <button (click) = "onAdd()">Add</button>
<ul>
    <li *ngFor="let course of courses; even as isEven">
        {{course.name}} <span *ngIf = isEven>({{isEven}})</span>
        <button (click) = "onChange(course)">change</button>
    </li>
</ul> -->



<!-- <ul class="nav nav-pills">
    <li [class.active] = "viewMode == 'map'"><a (click) = "viewMode = 'map'">Map View</a></li>
    <li [class.active] = "viewMode == 'list'"><a (click) = "viewMode = 'list'">List View</a></li>
</ul>
<div [ngSwitch]="viewMode">
    <div *ngSwitchCase = "'map'">Map View Content</div>
    <div *ngSwitchCase = "'list'">List View Content</div>
    <div *ngSwitchDefault>Otherwise</div>
</div> -->

<!-- <div [hidden] = "courses.length == 0">
    List of courses
</div>
<div [hidden] = "courses.length > 0">
    No courses Yet
</div> -->



<!-- <div *ngIf = "courses.length > 0; then coursesList else noCourses"> </div>
<ng-template #coursesList>
    List of courses
</ng-template>

<ng-template #noCourses>
    No courses Yet
</ng-template>
     -->


<!-- <h1> Angular</h1>
<courses></courses> -->
<!-- <author></author> -->
<!-- <favorite [is-favorite] = "post.isFavorite" (change) = "isFavoriteChanged($event)"></favorite> -->
<!-- <favorite></favorite> -->
<!-- <input type="text" [(ngModel)] = "title">
<br/>
{{title | titleCase}} -->
<!-- <span class = "glyphicon glyphicon-user"></span> -->

<!-- <boostrap-panel>
    <ng-container class = "heading">Heading</ng-container>
    <div class="body">
        <h2>Body</h2>
        <p>Some content here...</p>
    </div>
</boostrap-panel> -->

<!-- <like [likesCount]="tweet.likesCount"
[isActive]="tweet.isLiked">   
</like> -->



